h2 {
    font-size: 2em;
}

h2:first-letter {
    color: #c22;
}

section {
    width: 1000px;
    min-height: 1000px;
}

section h2 {
    margin-bottom: 20px;
}

.flexbox {
    display: flex;
    border-top: 2px solid #ccc;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.illustration {
    width: 500px;
    height: 323px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-image: url(../img/img-test-1.jpg);
    background-size: cover;
    background-position: center center;
}

.project-description p {
    text-align: justify;
    padding-top: 20px;
    margin-right: 20px;
    border-top: 1px solid #ccc;
}

.project-description p:first-child {
    border-top: 0;
} 

.project-description p:first-letter {
    color: #a22;
    background-color: #111;
    padding: 5px;
    margin-right: 2px;
    font-weight: 700;
}

.code-example {
    max-height: 1000px;
    overflow-y: auto;
    font-size: .7em;
    background-color: #333;
    color: #ddd;
}

.return {
    position: fixed;
    top: 70px;
    left: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 12px;
    border: 2px solid #eee;
    background-color: #222;
    text-align: center;
    transition: .1s;
}

.return:hover {
    top: 68px;
    cursor: pointer;
    transition: .1s;
}

.return i {
    color: #eee;
}