/*
colors >
    text: #ccc
    red: #792626
    red2: #7f2c36
    grey: #4a4a4a
    grey2: #50505a

    Nouvelles pour le test :
        - 046380 bleu de base
        - 002F2F bleu plus foncé
        - 069ECC bleu plus clair
*/

/* NEW COLORS : #00b0b0 --> #00b0b0 (2 rouges normal --> hover) */
/* red - 00b0b0 --> red:hover - 00b0b0 */

/* COULEURS FINALES
    + PALETTE DES GRIS
        - #1a1a1a
        - #464646
        - #575757
        - #878787
    
    + PALETTE DES BLEUS
        - #004a4a
        - #007272
        - #009696
        - #00b0b0
        - #00cbcb
        - #00f5f5
    
    + PALETTE DES ROUGES
        - #68262c
        - #b43a24
        - #d95d45
        - #c37169

    + PALETTE DE ORANGES
        - #833b07
        - #b55007
        - #ff7500

*/


/* ===== BASE ===== */

body, input, textarea {
    padding: 0;
    margin: 0;
    font-family: 'Poiret One', cursive;
    box-sizing: border-box;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKUlEQVQIW2NUUlL6zwAFgoKCDIwwARDn/fv3EAEYB6SQ0djY+D9IBgYAwBUOzFFGUA0AAAAASUVORK5CYII=);
    color: #ccc;
}

header, footer {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGklEQVQIW2OUkpL6r6Ojw8Do5ub2/8qVKwwAK1wGIVySKugAAAAASUVORK5CYII=);
}

header {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 6px #333344;
}

.bloc-30px {
    height: 30px;
}

section {
    width: auto;
    padding: 0 20px 40px 20px;
    margin: auto;
}

footer {
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #eee;
    border-top: 1px solid #ccc;
}

footer p {
    margin: 0;
}

h1 {
    display: inline;
    text-transform: uppercase;
    margin: 0 20px;
}

h1 a {
    color: #ccc;
    text-decoration: none;
}

#t-portfolio {
    color: #009696;
    text-transform: none;
    font-weight: 400;
    font-family: 'Lobster', cursive;
    transition: .3s;
}

#t-portfolio:hover {
    color: #00cbcb;
    transition: .3s;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

h2:first-letter {
    margin-right: 2px;
    color: #ff7500;
}

h2.main {
    font-size: 3em;
}

.fa {
    color: #00b0b0;
}


nav.top ul li:hover .fa {
    color: #00cbcb; /*#046380;*/
}

/* ===== TOP NAVIGATION ===== */

nav.top {
    height: 50px;
    float: right;
    width: 70%;
}

nav.top ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    margin: 0;
    text-transform: uppercase;
}

nav.top ul li {
    display: inline;
}

nav.top ul li a {
    height: 50px;
    font-weight: 700;
    display: inline-block;
    padding: 0 20px;
    color: #eee;
    text-decoration: none;
    transition: .6s;
}

nav.top ul li:hover a {
    background-color: #ccc;
    color: #111;
    border-bottom: 1px solid #00b0b0;
    transition: .6s;
}


/* ====== CAROUSEL ====== */

.carousel {
    height: 250px;
    background-color: burlywood;
}

/* ===== TILES ===== */

.grid {
    display: flex;
    flex-wrap: wrap;
	margin: 40px auto;
	list-style: none;
}

.grid figure {
	position: relative;
	overflow: hidden;
	margin: 10px 1%;
	max-height: 420px;
	width: 48%;
	height: auto;
	cursor: pointer;
}


.grid figure figcaption {
    position: relative;
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure h2 {
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 15px;
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}


.grid figure p2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* ===== TILES APOLLO ===== */

figure.tile-effect {
    position: relative;
	background: #046380; /*#3498db;*/
    overflow: hidden;
}

figure.tile-effect img {
    opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.tile-effect figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.tile-effect p {
    position: absolute;
    right: 0;
    bottom: 100px;
    padding: 0 10px;
    margin: 0 100px;
	width: 33%;
	border-right: 4px solid #eee;
	text-align: right;
    font-size: 14px;
	opacity: 0;
    font-weight: 700;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.tile-effect h2 {
	text-align: left;
}

figure.tile-effect:hover {
    outline: 1px solid #ff7500;
    box-shadow: 0 0 20px #333344;
}

figure.tile-effect:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.tile-effect:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.tile-effect:hover p {
	opacity: 1;
    padding: 5px 10px;
    background-color: rgba(0,0,0,.7);
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}