/*
colors >
    text: #ccc
    red: #792626
    red2: #7f2c36
    grey: #4a4a4a
    grey2: #50505a
*/

/* ===== BASE ===== */

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ccc;
    color: #ccc;
}

header, footer {
    background-color: #333;
}

header {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
}

section {
    padding: 40px 20px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQImWPw8vL6D8MBAVH/GZA5Xl5eEAEYx8vL6z8DMsfLy+s/APQJHkEkL3PaAAAAAElFTkSuQmCC);
}

footer {
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #eee;
    border-top: 1px solid #ccc;
}

footer p {
    margin: 0;
}

h1 {
    display: inline;
    text-transform: uppercase;
    margin: 0 20px;
}

h1 a {
    color: #ccc;
    text-decoration: none;
}

h1 span {
    text-transform: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

/* ===== NAVIGATION ===== */

nav {
    height: 50px;
    float: right;
    width: 50%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin: 0;
    text-transform: uppercase;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ccc;
    text-decoration: none;
}

/* ====== CAROUSEL ====== */

.carousel {
    height: 250px;
    background-color: burlywood;
}

/* ===== TILES ===== */

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1000px;
	margin: 40px auto;
	list-style: none;
}

.grid figure {
	position: relative;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	height: auto;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	display: block;
	min-height: 100%;
	max-width: 100%;
}

.grid figure figcaption {
    position: relative;
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure h2 {
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 15px;
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}


.grid figure p2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* ===== TILES APOLLO ===== */

figure.tile-effect {
	background: #3498db;
}

figure.tile-effect img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.tile-effect figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.tile-effect p {
    position: absolute;
    right: 0;
    bottom: 100px;
    padding: 0 10px;
    margin: 0 100px;
	width: 150px;
	border-right: 4px solid #eee;
	text-align: right;
    font-size: 14px;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.tile-effect h2 {
	text-align: left;
}

figure.tile-effect:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.tile-effect:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.tile-effect:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}